@import "./node_modules/bulma/sass/utilities/_all.sass";

// app colors
$red: hsl(9, 69%, 49%);
$green: hsl(180, 76%, 31%);
$lightgreen: hsl(180, 76%, 40%);
$text-white: hsl(0, 0%, 100%);
$text-black: hsl(3, 0%, 0%);
$footer-background: hsl(41, 32%, 84%);

// title
$title-color: $red;
$title-size: $size-2;
$subtitle-color: $red;

// navbar
$navbar-background-color: $green;
$navbar-item-hover-background-color: $lightgreen;
$navbar-item-color: $text-white;
$navbar-item-hover-color: $text-black;

// footer
$footer-background-color: $footer-background;

// cards
$card-shadow:  -7px 11px 25px -9px rgba(0, 0, 0, 1);

@import "./node_modules/bulma/bulma";

// Import only what you need from Bulma
// @import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
// @import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/title.sass";
// @import "./node_modules/bulma/sass/form/_all.sass";
@import "./node_modules/bulma/sass/components/navbar.sass";
// @import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";

// TODO: override bulma default colors with our own
// Reference: https://bulma.io/documentation/customize/variables/#derived-variables

.footer {
  padding: 1rem;
  h1 {
    color: $red;
  }
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  a.title {
    font-size: 1.45rem;
  }
}

h2 {
  font-size: 1.5em;
}

// footer at bottom of page or content
html,
body {
  height: 100%;
  z-index: -1;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 105vh;
}

// footer at bottom of page or content
// not needed if min-height > 100vh or %
// .footer {
//   flex-shrink: 0;
// }

// end footer at bottom of page or content

// sticky footer - always on bottom of page
// .section {
//   min-height: 100vh;
// }
// .footer {
// position: -webkit-sticky; /* Safari */
// position: sticky;
// bottom: 0;
// }
// end sticky footer - always on bottom of page

.join-button .button {
  justify-content: left;
  padding-right: 10rem;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  margin: 5px 5px 5px 0;
  background: linear-gradient(to right, $red 70%, $green 30%);
}

.join-button .join-icon {
  position: absolute;
  top: 15%;
  right: 10%;
  margin: auto;
}

.join-button .bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
  visibility: visible;
  display: block;
}

.join-button .top {
  display: none;
}

@media (min-width: 769px) {
  .join-button .top {
    top: 0;
    visibility: visible;
    display: block;
  }
  .join-button .bottom {
    display: none;
  }
}

.join img {
  height: auto;
  width: 20vw;
}

@media (min-width: 1023px) {
  .join img {
    height: auto;
    width: 10vw;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}
.logo .text-container {
  padding-left: 0.5em;
}

.logo .bottom-text {
  margin-top: -0.3em;
  font-size: 1em;
}
.logo .top-text {
  font-size: 1em;
}

.hero-image img {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}

.about .hero-image img {
  object-position: 100% 25%;
}

.home .hero-image img {
  object-position: 0% 40%;
}
.social-icons {
  text-align: center;
  margin-top: 25px;
}

.social-icon {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.alignment-left {
  margin: 0;
}
